.Color {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Color li:nth-child(1) {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #b08bfa33;
    margin-left: 10px;

}

.Color li:nth-child(2) {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: rgba(0, 0, 128, .3);
    margin-left: 10px;

}

.Color li:nth-child(3) {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 20px;
    background-color: #F0EEED;
    margin-left: 10px;

}

/**********purple*********/
.purple .Nav {
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
}

.purple .Main {
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
}

.purple .Nav {
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
}

.purple .MopLink {
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");

}

.purple #Home {
    background-color: rgba(176, 139, 250, .2);

}

.purple .Skills {
    background-color: rgba(176, 139, 250, .2);

}

.purple .AboutSection {
    background-color: rgba(176, 139, 250, .2);

}

.purple .Footer {
    background-color: rgba(176, 139, 250, .2);
}

/************blue*/
.blue .Nav {
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/lavender-color-solid-background-1920x1080.png");
}

.blue .Main {
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/lavender-color-solid-background-1920x1080.png");
}


.blue .MopLink:link,
.MopLink:visited {
    background-image: url("https://htmlcolorcodes.com/assets/images/colors/lavender-color-solid-background-1920x1080.png");
}

.blue .MopLink:hover {
    background-image: url("https://th.bing.com/th/id/R.3c0f7613ba2ea3340fb017219b6527ec?rik=NsmHyGKXO3Hu1g&pid=ImgRaw&r=0");
}


.blue #Home {
    background-color: #0000804d;

}

.blue .Skills {
    background-color: rgba(0, 0, 128, .3);

}

.blue .AboutSection {
    background-color: rgba(0, 0, 128, .3);

}

.blue .Footer {
    background-color: rgba(0, 0, 128, .3);
}

/**********************gray***********************/
.gray .Nav {
    background-image: url("https://th.bing.com/th/id/R.15b4152e47393254c7b2e40d0a325170?rik=kBTjMp%2flpmguyg&riu=http%3a%2f%2fwww.color-hex.com%2fpalettes%2f7707.png&ehk=xC6itGHl1vrxaynGEAQfquhb5zD0L4wwqUwgLlwHy%2b4%3d&risl=&pid=ImgRaw&r=0");
}

.gray .Main {
    background-image: url("https://th.bing.com/th/id/R.15b4152e47393254c7b2e40d0a325170?rik=kBTjMp%2flpmguyg&riu=http%3a%2f%2fwww.color-hex.com%2fpalettes%2f7707.png&ehk=xC6itGHl1vrxaynGEAQfquhb5zD0L4wwqUwgLlwHy%2b4%3d&risl=&pid=ImgRaw&r=0");
}


.gray .MopLink:link,
.MopLink:visited {
    background-image: url("https://th.bing.com/th/id/R.15b4152e47393254c7b2e40d0a325170?rik=kBTjMp%2flpmguyg&riu=http%3a%2f%2fwww.color-hex.com%2fpalettes%2f7707.png&ehk=xC6itGHl1vrxaynGEAQfquhb5zD0L4wwqUwgLlwHy%2b4%3d&risl=&pid=ImgRaw&r=0");
}

.gray .MopLink:hover {
    background-image: url("https://th.bing.com/th/id/R.3c0f7613ba2ea3340fb017219b6527ec?rik=NsmHyGKXO3Hu1g&pid=ImgRaw&r=0");
}


.gray #Home {
    background-color: #F0EEED;

}

.gray .Skills {
    background-color: #F0EEED;

}

.gray .AboutSection {
    background-color: #F0EEED;

}

.gray .Footer {
    background-color: #F0EEED;
}

/*************************************/
.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: sticky;
    top: 0px;
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
    z-index: 4;
    margin-bottom: 5px;

}

.Logo {
    margin-left: 9%;
    border-radius: 50px;
}

.Links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 5%;
    list-style-type: none;
}

.NavLink {
    margin-left: 40px;
    padding: 10px;
    border-radius: 20px;
    color: midnightblue;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: large;
}

.NavLink:hover {
    color: rgb(254, 118, 68)
}

/********************************************************/
.MobNav {
    display: none;
    margin-bottom: 15px;
    position: sticky;
    top: 0;
}

.Mob {
    display: none;
}

.Main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
    margin-bottom: 5px;

}

.fa {
    transform: scale(1.5, 1.5);
    margin-left: 30px;
}

.MobDisplay {
    display: flex;
    flex-direction: column;
    width: 100%;
}



.MopLink:link,
.MopLink:visited {
    text-decoration: none;
    padding: 2px 20px;
    color: navy;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
    background-image: url("https://scontent-hbe1-1.xx.fbcdn.net/v/t1.15752-9/376395605_326274506471016_1969331953486401397_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=T2_F8Co-Mu8AX_Aqfci&_nc_ht=scontent-hbe1-1.xx&oh=03_AdSYyhlhUrD8mNR8HJAYT6jaznEfIYd26SmdrzcjGfR5Bg&oe=6525AAD6");
    width: 100%;
}

.MopLink:hover {
    background-image: url("https://th.bing.com/th/id/R.3c0f7613ba2ea3340fb017219b6527ec?rik=NsmHyGKXO3Hu1g&pid=ImgRaw&r=0");
    color: #fe7644;
    border: 1px solid antiquewhite;
}

/*                                  ************************************************************************/
#Home {
    margin-top: -7px;
    width: 100%;
    padding-bottom: 100px;
    background-color: rgba(176, 139, 250, .2);

}

.HomeSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 10%;
    padding-bottom: 30px;
    margin-bottom: -70px;

}

.HomeHeader {
    font-family: Alata;
    color:#ba55d3;;
}

.HomeName {
    color: midnightblue;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -14px;
    margin-bottom: -1.5px;
    font-size: 40px;
}

.HomeRole {
    color: midnightblue;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: larger;
    font-size: 28px;

}

.para {
    color: black;
    font-size: 25px;
    width: 50%;
    line-height: 1.5rem;
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.PngImage {
    width: 100%;
    height: 400px;
    margin-left: -30%;

}

.Link:link,
.Link:visited {
    background-color: white;
    border: 1px solid #ba55d3;;
    padding: 15px 20px;
    margin-left: 120px;
    color:#ba55d3;
    border-radius: 30px;
    text-decoration: none;
    font-size: 26px;
    font-style: italic;
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Link:hover {
    background-color:#ba55d3;;
    color: white;
}


.HomeLinks {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-left: -1.5%;
    margin-top: -5%;

}

/*                                  ************************************************************************/
.AboutInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: -200px
}

#About {
    margin-top: 80px;
}

.Header {
    text-align: center;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: midnightblue;
    font-size: 35px;
    margin-bottom: 30px;

}

.AboutSection {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 60px;
    background-color: rgba(176, 139, 250, .2);
    padding-bottom: 20px;

}

.AboutImag {
    width: 42%;
    height: 350px;



}

.Aboutpara {
    margin-left: -6%;
    color: black;
    margin-bottom: -2px;
    font-size: 25px;
    width: 100%;
    line-height: 2rem;
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/**********************/
.SkillsSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.SkillList {
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-style: italic;
    margin-left: 15%;
}

.Skills {
    border: 1px solid white;
    border-radius: 20px;
    width: 250px;
    margin-bottom: 20px;
    background-color: #b08bfa33;
}

.Skills:hover {
    color: white;
    background-color:#ba55d3;

}

.SkillsHeader {
    text-align: center;
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SkillsLogo {
    margin-left: 33%;
    margin-top: 20px;
    border-radius: 50px;
    width: 75px;
    height: 75px;
}

/****************************************************/
.ProjectsSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/********************************************/
.ProjectPart {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Project {
    width: 350px;
    height: 350px;
    border: 1px solid black;
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.Project:hover {
    transform: perspective(1000px)translateZ(100px);
}

.ProjectImage {
    width: 100%;
    height: 200px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.ProjectSection {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.ProjectInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ProjectName {
    font-family: Alata, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: navy;
    margin-bottom: -1px;

}

.ProjectDes {
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: start;
    color: #ba55d3;
    font-size: 20px;
}

.ProjectLink:link,
.ProjectLink:visited {
    text-decoration: none;
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: navy;
    font-size: 20px;

}

.ProjectLink:hover {
    color: #fe7644;
}

.hidden {
    visibility: hidden;
}

.LeftMop,
.RightMop {
    display: none;
}

.ProjectsPartMop {
    display: none;
}

/************************/
.ContactSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.ContactLink:link,
.ContactLink:visited {
    height: 300px;
    width: 300px;
    text-decoration: none;
    margin-bottom: 20px;
}

.Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1.5px solid whitesmoke;
    justify-content: space-between;
    border-bottom: 2px solid #ba55d3;
    margin-left: 7%;

}

.Contact:hover {
    transform: perspective(1000px) translateZ(100px);
}

.Contact p {
    color: mediumorchid;
    font-size: 25px;
    font-family: Akaya Kanadaka, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*************************************************************************/
.Footer {
    margin-top: 50px;
    background-color: rgba(176, 139, 250, .2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    padding-left: 10px;

}

.FooterSetion {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.FooterLink:link,
.FooterLink:visited {
    margin-right: 50px;
}

/******************************************************/
@media only screen and (max-width:650px) {
    .Link:link {
        margin-left: 10%;
        width: 100px;
    }

    .HomeSection {
        margin-bottom: 20px;
    }

    .PngImage {
        width: 70%;
        margin-left: -1px;
    }


    .Contact:hover {
        transform: perspective(900px) translateZ(30px);

    }

    .Right,
    .Left {
        display: none;
    }

    .LeftMop,
    .RightMop {
        display: unset;
    }

    .ProjectsPart {
        display: none;
    }

    .ProjectsPartMop {
        display: unset;
        width: 400px;
    }

    .Nav {
        display: none;
    }

    .MobNav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}